{{ "<!-- ATTEND -->" | safeHTML }}
<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>CloudStack Collaboration Conference is a 4-day virtual get together for the global CloudStack community and people interested in open-source technology.
                <br><br>
                The virtual event is aimed at developers, operators and users to discuss and evolve the open-source software project, its functionality and real-world operability. This event will allow you to meet the biggest CloudStack community, project members and contributors, and C-level executives from global MSPs, leading cloud providers, and IaaS builders.</p>
            </div>
        </div>
    </div>     
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>News</h3>
                    <p class="text-muted">The latest Apache CloudStack features</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary"></i>
                    <h3>Hackathon</h3>
                    <p class="text-muted">Participate in hands-on workshops</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">Learn best practices for cloud building</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary"></i>
                    <h3>Talks</h3>
                    <p class="text-muted">Hear from users and contributors</p>
                </div>
            </div>
        </div>
    </div>
</section>
