{{ "<!-- CONTACT -->" | safeHTML }}
<aside class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-1">
                <p>
                    Want to sponsor the event, have questions on the event schedule or would like to present a talk?  Get in touch with our team!
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-md-push-1" style="text-align:center;">
                <a href="mailto:ivet.petrova@shapeblue.com" target="_blank" class="btn btn-default flare btn-xl wow tada">CONTACT US</a>
            </div>
        </div>
    </div>
</aside>
