{{ "<!-- CONTACT -->" | safeHTML }}
<aside class="bg-dark" id="contact">
    <div class="container" style="margin-top:-40px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>
                Want to sponsor the event, have questions on the event schedule or would like to present a talk?  <a href="mailto:ivet.petrova@shapeblue.com" target="_blank">Get in touch with our team!</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-twitter fa-3x wow bounceIn"></i>
                <p><a href="https://twitter.com/CloudStackConf" target="_blank">@cloudstackconf</a></p>

            </div>
            <div class="col-lg-2 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>
                    <a href="mailto:marketing@cloudstack.apache.org" target="_blank">marketing@</a>
                    <br />
                    <a href="mailto:users@cloudstack.apache.org" target="_blank">users@</a>
                </p>
            </div> 
            <div class="col-lg-2 text-center">
                <i class="fa fa-weixin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://cloudstack.apache.org/contribute.html" target="_blank">irc.freenode.net: #cloudstack</a></p>
            </div>
            <div class="col-lg-2 text-center">
                <i class="fa fa-external-link fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="http://cloudstack.apache.org" target="_blank">Apache CloudStack</a></p>
            </div>
        </div>
    </div>
</aside>
