{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/portfolio/ccc_white.png'></img>
            <p style="color:white;">
                <b>CloudStack Collaboration Conference Virtual</b><br />
                <b>November 9-12, 2021</b><br />
                Biggest get together of the Global CloudStack Community
            </p>
            <a href="#" target="_blank" class="btn btn-default btn-xl">ADD TO MY CALENDAR</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank" class="btn btn-default flare btn-xl">REGISTER</a>
        </div>
    </div>
</header>
