{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.fittext.js"></script>
<script src="{{ .Site.BaseURL }}js/wow.min.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/creative.js"></script>
<script src="{{ .Site.BaseURL }}js/analytics.js"></script>
<script>
$(function() {
    $('.schedule-item-expander').on("click", function(event) {
        if ($(this).parent().siblings(".desc-wrapper").find(".schedule-description").is(":visible")) {
            $(this).find(".schedule-item-arrow").html('<i class="fa fa-angle-down" style="font-size:35px;"></i>');
            $(this).parent().siblings(".desc-wrapper").find(".schedule-description").hide();
        } else {
            $(this).find(".schedule-item-arrow").html('<i class="fa fa-angle-up" style="font-size:35px;"></i>');
            $(this).parent().siblings(".desc-wrapper").find(".schedule-description").show();
        }
    });
});
</script>