{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary">
            <p>
                Centre cloud.ca 
                <br>420 Guy 
                <br>Montreal, QC H3J 1S6 Canada
            </p>
            <div class="row">
               <div class="col-xs-12 col-md-10 col-md-push-1">
                    <a href="https://www.google.ca/maps/place/Centre+cloud.ca/@45.4976736,-73.5697095,15z/data=!4m2!3m1!1s0x4cc91a638a6b442b:0xe315ad11de05f102"><img style="border-radius:40px;" width="100%" src="img/ccca_map.png"></img></a>
                    <br><br>
                    <p class="text-faded" style="text-align:center;">For more information about accommodation and what to do in Montreal, <a href="https://docs.google.com/document/d/1RFXZ466tegkpFW9l8VjiW4L6Cmo0TSrmlxMLf9oG8PI/edit?ts=5708075c" target="_blank">click here</a>.</p>
                    <br><br>
                    <a href="https://docs.google.com/document/d/1RFXZ466tegkpFW9l8VjiW4L6Cmo0TSrmlxMLf9oG8PI/edit?ts=5708075c" target="_blank" class="btn btn-default btn-xl wow tada">VISIT US</a>
                    <br><br>
            </div>
        </div>
        </div>
    </div>
</aside>