{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>
                    We would like to thank all our sponsors for helping us deliver CloudStack Collaboration Conference to you! Together we shape the future of the open-source cloud ecosystem!
                </p>
            </div>
        </div>
    </div>
</aside>