{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" style="border-top:2px solid #55C499; border-bottom:4px solid #55C499;" id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <h2>Join the virtual event!</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-1">
                <p>
                    Do you want to learn about CloudStack, building cloud infrastructure, developing CloudStack features or integration, security, scalability, multi-cloud?  Register for the event today to stay informed.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-md-push-1" style="text-align:center;">
                <a href="https://events.hubilo.com/cloudstack-collaboration-conference/register" target="_blank" class="btn btn-default flare btn-xl wow tada">REGISTER</a>
            </div>
        </div>
    </div>
</aside>