{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">    
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                The schedule is subject to change. Please note, this schedule is automatically displayed in Central European Time. Subscribe to our newsletter to get info for the latest schedule updates. 
            </div>
        </div>
    </div>
    <!--
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">WEDNESDAY, June 1</div> 
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Registration opens</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:30 pm - 5 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Round Table Discussions
                <br>Topics include: State of Apache CloudStack & priority features, LTS releases, marketing alliance</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">5:00 pm - 5:30 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Happy hour and networking</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">5:30 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Dinner</div>

                <div class="col-xs-12" style="color:white; margin-top:20px; margin-bottom:10px;">THURSDAY, June 2</div> 
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">8:00 am - 9:30 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Breakfast / Registration</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">9:30 am - 10:30 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Keynote - <a href="#portfolioModalIan" class="portfolio-link" data-toggle="modal">Ian Rae</a> with contributions from <a href="#portfolioModalWill" class="portfolio-link" data-toggle="modal">Will Stevens</a>, <a href="#portfolioModalNara" class="portfolio-link" data-toggle="modal">Nara Rajagopalan</a> and <a href="#portfolioModalFuns" class="portfolio-link" data-toggle="modal">Funs Kessen</a></div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:30 am - 11:00 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalMike" class="portfolio-link" data-toggle="modal">Mike Tutkowski</a> & <a href="#portfolioModalSyed" class="portfolio-link" data-toggle="modal">Syed Ahmed</a> - Enabling Fast and Efficient Backend Snapshots for XenServer</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:00 am - 11:15 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Break</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:15 am - 11:45 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalPaul" class="portfolio-link" data-toggle="modal">Paul Angus</a> - Containers in Apache CloudStack</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:45 am - 12:15 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalJohn" class="portfolio-link" data-toggle="modal">John Burwell</a> - When the Cloud is a Rockin': High Availability in Apache CloudStack</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:15 pm - 1:15 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Lunch</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:15 pm - 1:45 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Funs Kessen - The Contrasting Three of Storage</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:45 pm - 2:15 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalKris" class="portfolio-link" data-toggle="modal">Kris Sterckx</a> & <a href="#portfolioModalUrvi" class="portfolio-link" data-toggle="modal">Urvi Shah</a> - Nuage Networks Embraces Apache CloudStack</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">2:15 pm - 2:45 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalSowmya" class="portfolio-link" data-toggle="modal">Sowmya Krishnan</a> - How Elastic is Your Cloud?</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">2:45 pm - 3:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Break  </div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">3:00 pm - 3:30 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalTim" class="portfolio-link" data-toggle="modal">Tim Mackey</a> - Secure App Deployment</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">3:30 pm - 4:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalRajkumar" class="portfolio-link" data-toggle="modal">Rajkumar Thiurmalaivelu Murugiah</a> - Auto Provision, Configuration and LifeCycle Management of NetScaler Appliances for Guest Networks in Apache CloudStack (with Demo)</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">4:00 pm - 5:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Poster session & happy hour</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">6:30 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Dinner</div>

                <div class="col-xs-12" style="color:white; margin-top:20px; margin-bottom:10px;">FRIDAY, June 3</div> 
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">9:00 am - 10:00 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Breakfast</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:00 am - 10:30 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalBharat" class="portfolio-link" data-toggle="modal">Bharat Kumar</a> & <a href="#portfolioModalPavan" class="portfolio-link" data-toggle="modal">Pavan Kumar Bandarupally</a> - Next Level CI for CloudStack</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:30 am - 11:00 am</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Will Stevens - State of CI</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:00 am - 1:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Hackathon/Birds of a feather</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:00 pm - 2:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Lunch</div>
                <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">2:00 pm - 4:00 pm</div>
                <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Hackathon/Birds of a feather</div>
            </div>
        </div>
    </div>-->
</section>
