{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container" style="color:white;">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">    
            </div>
        </div>
    </div>

    <div class="container" style="color:white;">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>
                    The schedule is subject to change prior the event. The final agenda will be announced soon.  <a class="page-scroll" href="/#subscribe">Subscribe to our newsletter</a> to get info for the latest schedule updates.
                </p>
            </div>
        </div>
    </div>
<!--
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" class="btn btn-default" style="margin-right:10px; margin-top:10px;" href="#11-09">Tuesday - 11/09</a></li>
                    <li><a data-toggle="pill" class="btn btn-default" style="margin-right:10px; margin-top:10px;" href="#11-10">Wednesday - 11/10</a></li>
                    <li><a data-toggle="pill" class="btn btn-default" style="margin-right:10px; margin-top:10px;" href="#11-11">Thursday - 11/11</a></li>
                    <li><a data-toggle="pill" class="btn btn-default" style="margin-right:10px; margin-top:10px;" href="#11-12">Friday - 11/12</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="background-color:white; margin-top:15px; padding-bottom:15px;">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <div class="tab-content">
                    <div id="11-09" class="tab-pane fade in active">
                        <h3 style="margin-bottom:20px;">Tuesday - 11/09</h3>
                        {{ range $i, $d := .Site.Data.schedule_11_09 }}
                            {{ partial "_schedule_item.html" (dict "data" $d "index" $i "context" "11-09") }}
                        {{ end }}
                    </div>
                    <div id="11-10" class="tab-pane fade">
                        <h3 style="margin-bottom:20px;">Wednesday - 11/10</h3>
                        {{ range $i, $d := .Site.Data.schedule_11_10 }}
                            {{ partial "_schedule_item.html" (dict "data" $d "index" $i "context" "11-10") }}
                        {{ end }}
                    </div>
                    <div id="11-11" class="tab-pane fade">
                        <h3 style="margin-bottom:20px;">Thursday - 11/11</h3>
                        {{ range $i, $d := .Site.Data.schedule_11_11 }}
                            {{ partial "_schedule_item.html" (dict "data" $d "index" $i "context" "11-11") }}
                        {{ end }}
                    </div>
                    <div id="11-12" class="tab-pane fade">
                        <h3 style="margin-bottom:20px;">Friday - 11/12</h3>
                        {{ range $i, $d := .Site.Data.schedule_11_12 }}
                            {{ partial "_schedule_item.html" (dict "data" $d "index" $i "context" "11-12") }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</section>
