{{ "<!-- SPONSORS -->" | safeHTML }}
<section class="bg-secondary"  id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>
                    CloudStack Collaboration Conference is the most significant global CloudStack and open-source cloud builders event. CloudStack is used by some of the world’s largest telecoms, enterprises and Fortune 100 companies. Join the event as a sponsor and get the chance to meet and network with senior staff and C-level executives from these companies.  Sponsoring this event allows you to engage with a large number of developers, cloud architects and technical leaders. By partnering with CloudStack Collaboration Conference you get brand visibility into one of the most dynamic and vibrant open-source communities globally.
                </p><br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#" target="_blank" class="btn btn-primary btn-xl wow tada">DOWNLOAD SPONSORSHIP PROSPECTUS</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank" class="btn btn-primary btn-xl wow tada">BECOME A SPONSOR</a>
            </div>
        </div>
    </div>

    <!--
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="sponsor-box">
                    <a href="https://accelerite.com/" target="_blank"><img style="margin-top:20px;" src="img/sponsors/accelerite.png"></img></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="sponsor-box">
                    <a href="http://datera.io/#home" target="_blank"><img style="margin-top:20px;" src="img/sponsors/datera.png"></img></a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:45px;">
            <div class="col-xs-6 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.cloudops.com" target="_blank"><img style="margin-right:30px" src="img/sponsors/cloudops.png"></img></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://centre.cloud.ca/" target="_blank"><img style="margin-right:30px" src="img/sponsors/centrecloudca.png"></img></a>
                </div>
            </div>
            <div class="col-xs-6 col-xs-push-3 col-sm-3 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.solidfire.com/" target="_blank"><img style="margin-top:35px; margin-right:30px" src="img/sponsors/solidfire.png"></img></a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:45px;">
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.shapeblue.com/" target="_blank"><img src="img/sponsors/shapeblue.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="https://qstack.com/" target="_blank"><img style="margin-top: 15px;" src="img/sponsors/qstack.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.nuagenetworks.net/" target="_blank"><img src="img/sponsors/nuage.png"></img></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 col-sm-push-2 text-center">
                <div class="sponsor-box">
                    <a href="http://www.cloudian.com/" target="_blank"><img style="margin-top: 30px;" src="img/sponsors/cloudian.png"></img></a>
                </div>
            </div>
        </div>
    </div>-->
</section>
