{{ "<!-- CONTACT -->" | safeHTML }}
<aside class="bg-secondary" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join our Newsletter</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>
                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; text-align:center !important; }
                        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="https://shapeblue.us1.list-manage.com/subscribe/post?u=5dc04ec275e7bd0b6af196418&amp;id=c0bae2fccc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        
                        <input style="margin-bottom:15px; padding:10px; border-radius: 5px; border: 1px solid #222; width:330px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5dc04ec275e7bd0b6af196418_c0bae2fccc" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-xl"></div>
                        </div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
                </p>
            </div>
        </div>
    </div>
</aside>