<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "googletagmanager.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "about.html" . }}
        {{ partial "speakers.html" . }}
        {{ partial "cfp.html" . }}
        {{ partial "sponsors.html" . }}
        {{ partial "schedule.html" . }}
        {{ partial "partners.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "subscribe.html" . }}
        {{ partial "community.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
